.about {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #84A178;
}

.about__lable {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;
}
.about__title {
    margin-bottom: 32px;
    font-family: 'Seymour One';
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
}

.about__frame {
    position: relative;
    display: flex;
    width: 278px;
    height: 278px;
    background-color: rgba(248, 210, 78, 0.7);
    border-radius: 50%;

    @media screen and (max-width: 767px) {
        margin-bottom: 62px;
        margin-left: auto;
        margin-right: auto;
    }
}
.about__img {
    position: absolute;
    top: 22px;
}
.about__description {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    font-size: 12px;
    line-height: 1.62;
    color: #FCFCFC;
}

.about__btn {
    display: block;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .about__lable {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.23;
        text-align: center;
        letter-spacing: 0.04em;
    }

    .about__title {
        margin-bottom: 40px;
        font-size: 34px;
        line-height: 1.26;
        letter-spacing: 0.06em;
    }
    
    .about__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__frame {
        width: 330px;
        height: 330px;
        margin-right: 32px;
    }
    .about__img {
        top: 26px;
    }

    .about__description {
        margin: 0;
        width: 334px;
        line-height: 1.77;
        letter-spacing: 0.04em;
    }

    .about__description-item:not(:last-child) {
        margin-bottom: 12px;
    }

    .about__container-description {
        display: flex;
        flex-direction: column;
    }

    .about__btn {
        margin: 40px 0 0 0;
    }   
}

@media screen and (min-width: 1200px) {
    .about__lable {
        font-size: 30px;
    }
    .about__title {
        margin-bottom: 82px;
        font-size: 36px;
        line-height: 1.25;
    }
    .about__frame {
        margin-right: 108px;
        width: 490px;
        height: 490px;

    }

    .about__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__img {
        top: 39px;
    }
    .about__description {
        margin-bottom: 20px;
        width: 463px;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.04em;

        color: #FCFCFC;
    }
}




.list {
    list-style: none;
}
h2, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}