.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;  
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;  
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);   
}

.buynow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    padding: 28px;
    width: 100%;
    max-width: 280px;
    height: auto;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid #F8D24E;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 480px) {
        max-width: 96%;  
    }
    @media screen and (min-width: 1200px) {
        max-width: 568px;  
    }
}

.close-btn {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 8px;
    top: 8px;  
    width: 18px;
    height: 18px;
    border: none;
    padding: 0;
}
.buynow__list {
    list-style: none;
    padding-left: 0; 
    margin-top: 0;
    margin-bottom: 0;
}
.buynow__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 132px;
    height: 198px;
    padding: 123px 40px 20px 40px;
    justify-content: center;
    border-radius: 24px;
}
.buynow__title {
font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

align-items: center;
text-align: center;

color: #000000;
margin-bottom: 20px;
}

.buynow__item--icecream {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    
}
.buynow__item--icecoffee {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);    
}
.buynow__item--milkshakes {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.buynow__item--icecream::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    
    background-image: url(../images/buynow/icecream.png);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    background-repeat: no-repeat; 
}
.buynow__item--icecoffee::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    
    background-image: url(../images/buynow/icecoffee.png);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    background-repeat: no-repeat; 
}
.buynow__item--milkshakes::before {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    
    background-image: url(../images/buynow/milkshake.png);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    background-repeat: no-repeat; 
}
.form {
   
    max-width: 224px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 480px) {
        max-width: 96%;
       
    }
    @media screen and (min-width: 1200px) {
        max-width: 448px;
       
    }
    
}


.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.form-input {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 12px 8px;
    border: 1px solid #84A178;
    border-radius: 10px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
position:absolute;
top: 50%;
left: 12px;
transform: translateY(-50%);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;

color: #131313;

}
.form-input:hover,
.form-input:focus {
    outline: none;
    border-color: var(--accent-color);

}

.form-input:hover~.form-icon,
.form-input:focus~.form-icon {
    fill: var(--accent-color);
}



textarea {
    resize: none;
    border: 1px solid #84A178;
    border-radius: 10px;
    padding: 12px 8px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 140%;

color: #131313;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding: 10px 56px;

    border: none;
    border-radius: 10px;
    
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
color: #131313;

    cursor: pointer;

    background-color: #F8D24E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 480px) {
        max-width: 96%;  
    }
}