// --Bacground--
.gallery__container {
  background-image: url(../images/gallery/background/background-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
 
  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
  
      background-image: url(../images/gallery/background/background-mob@2x.png);
        }

  @media screen and (min-width: 768px) {
    background-image: url(../images/gallery/background/background-tab.png);
      
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      
        background-image: url(../images/gallery/background/background-tab@2x.png)
          }
  }
      
    @media screen and (min-width: 1200px) {
      background-image: url(../images/gallery/background/background-des.png);
              
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
      
          background-image: url(../images/gallery/background/background-des@2x.png);
            }  
  }
}


// --Foto ice--


// --Foto woman--
.gallery__woman {
  display: block;
  height: auto;
}

.gallery__woman-indent {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

// --Block comments--
.gallery__comments {
  max-width: 100%;
  padding: 34px 39px;
  border-radius: 10px;
  
  background-color: #84A178;
}

.gallery__comments-indent {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.gallery__text {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  
  color: #FCFCFC;
}

.gallery__text-indent {
  margin-bottom: 14px;
}

// --Text--
.gallery__text-name {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;

  color: #000000;
}

// --Cicles--
.gallery__cicles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__cicles-indent {
  margin-bottom: 393px;
}

.gallery__cicles--green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  
  background-color: #84A178;
}

.gallery__cicles--grey {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;

  background-color: #D9D9D9;
}

.cicles-indent {
  &:not(:last-child) {
    margin-right: 18px;
  }
}