.header{

    
    padding-top: 12px;
    background-color: #84A178;

    &__container{
        position: relative;
        background-image: url(../images/header/points_mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;

        @media screen and (min-width: 768px){
            background-image: url(../images/header/dots_tablet.svg);
        }

        @media screen and (min-width: 1200px){
            background-image: url(../images/header/dots_desktop.svg);
        }

    }
        

    &__logo-image{
        width: 41;
        height: 37;
    }

    &__button{
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__button-svg{
        width: 20px;
        height: 12px;
    }

    &__nav{
       display: flex;
       justify-content: space-between;
    }

    &__title{

        margin: 0;
        padding: 0;
        font-family: 'Seymour One', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.38;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: #fff;

        margin-top: 58px;
        
    }

    .title-container{
        max-width: 247px;
    }

    &__title-span{
        font-size: 31px;
        line-height: 22px;
    }


    &__ice-img{
        
        position: absolute;
        left: 52%;

        transform:translateX(-50%); 

        bottom: -57px;

        @media screen and (min-width: 768px){
            
            position: absolute; 
            right: 39%;

            bottom: -59px;
        }

        @media screen and (min-width: 1200px){
            
            position: absolute; 
            right: 39%;

            bottom: -100px;
        }
       
    }
}
.heder-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 239px;

    &__item{

    }

    &__item:nth-child(1){
        margin-right: 16px;
    }

    &__link{
        color: #F8D24E;
        font-weight: 600;
        font-size: 8px;
        line-height: 1.25;
    }
}

.header-image{
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}