.header{
    padding-top: 12px;
    background-color: #84A178;

    &__container{
        position: relative;
        background-image: url(../images/header/points_mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;

        @media screen and (min-width: 768px){
            background-image: url(../images/header/dots_tablet.svg);
        }

        @media screen and (min-width: 1200px){
            background-image: url(../images/header/dots_desktop.svg);
        }

    }
        

    &__logo-image{
        width: 48;
        height: 44;
    }

    &__button{
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        @media screen and (min-width:768px) and (max-width:1199px) {
            margin-left: 445px;
            margin-top: 5px;
        }
       
        @media screen and (min-width:1200px) {
           display: none;
        }
    }

    &__button-svg{
        
    }

    &__nav{
       display: flex;
       justify-content: space-between;

       @media screen and (max-width:767px){
        align-items: center;
       }
       
    }

    &__title{

        margin: 0;
        padding: 0;
        font-family: 'Seymour One', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.38;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: #fff;

        margin-top: 58px;

        @media screen and (min-width:768px) and (max-width:1199px){
            margin-top: -90px;
            font-size: 18px;
            line-height: 1.27;
        }
        
    }

    .title-container{
        max-width: 247px;

        @media screen and (min-width:768px) and (max-width:1199px){
            max-width: 181px;
        }
    }

    &__title-span{
        font-size: 31px;
        line-height: 22px;
        
        @media screen and (min-width:768px) and (max-width:1199px){
            font-size: 24px;
            line-height: 13.3px;
        }
       
    }


    &__ice-img{
        
        position: absolute;
        left: 52%;

        transform:translateX(-50%); 

        bottom: -57px;

        @media screen and (min-width: 768px){
            
            position: absolute; 
            right: 39%;

            bottom: -59px;
        }

        @media screen and (min-width: 1200px){
            
            position: absolute; 
            right: 39%;

            bottom: -100px;
        }
       
    }

    &__mainflex{
      
      @media screen and (max-width:767px){
        display: unset;
      }  

      display: flex;
      justify-content: space-between;
    }

}

.sidebar{

    @media screen and (max-width:767px){
        display: none;
    }

    padding-left: 32px;
    // padding-right: 32px;
    display: flex;
    flex-direction: column;


    &__buy-button{
    font-family: 'Montserrat', sans-serif;
       padding-top: 12px;
       padding-bottom: 12px;
       padding-left: 34px;
       padding-right: 34px;

       font-weight: 600;
       font-size: 14px;
       line-height: 1.14;
       background-color: #F8D24E;
       border-radius: 10px;
       border: none;

       color: #000000;
    }

    &__items{
       margin: 0;
       padding: 0;
       display:flex;
       flex-direction: column;
       text-align: right;

       padding-top: 28px;
    }

    &__item{
       margin: 0;
       padding: 0;

       &:nth-child(2){
        margin-bottom: 20px;
       }

       &:nth-child(1){
        margin-bottom: 4px;
       }

       &:nth-child(3){
        margin-bottom: 4px;
       }

    }

    &__number{
        font-weight: 900;
        font-size: 28px;
        line-height: 1.21;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #000000;
    }

    &__text{
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;

        color: #FFFFFF;
    }

}


.heder-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 239px;

    @media screen and (min-width:768px) and (max-width:1199px){
        margin-top: 20px;
        margin-bottom: 193px;
    }


    &__item{

    }

    &__item:nth-child(1){
        margin-right: 16px;
    }

    &__link{
        color: #F8D24E;
        font-weight: 600;
        font-size: 8px;
        line-height: 1.25;
    }
}

.header-image{
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}

