@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-background-color: #84A278;
  --secondary-background-color: #FFFFFF;
  --primary-text-color: #FCFCFC;
  --secondary-text-color: #000000;
  --contacts-text-color: #131313;
  --time-text-color:#ABABAB;
  --address-text-color: #D6936D;
  --button-color: #F8D24E;
  --accent-color: #0A8817;
  --accent-color-text: #FCFCFC;
  --touch-color: #ABABAB;
  --product-cart-cream: #AEC6A5;
  --product-cart-coffee: #EFD478;
  --product-cart-milkshakes: #D6936D;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.buynow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  width: 100%;
  max-width: 280px;
  height: auto;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 2px solid #F8D24E;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .buynow {
    max-width: 96%;
  }
}
@media screen and (min-width: 1200px) {
  .buynow {
    max-width: 568px;
  }
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 18px;
  height: 18px;
  border: none;
  padding: 0;
}

.buynow__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.buynow__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 132px;
  height: 198px;
  padding: 123px 40px 20px 40px;
  justify-content: center;
  border-radius: 24px;
}

.buynow__title {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.buynow__item--icecream {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.buynow__item--icecoffee {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.buynow__item--milkshakes {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.buynow__item--icecream::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-image: url(../images/buynow/icecream.png);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.buynow__item--icecoffee::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-image: url(../images/buynow/icecoffee.png);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.buynow__item--milkshakes::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background-image: url(../images/buynow/milkshake.png);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.form {
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .form {
    max-width: 96%;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    max-width: 448px;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.form-input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 8px;
  border: 1px solid #84A178;
  border-radius: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
}

.form-input:hover,
.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
  border: 1px solid #84A178;
  border-radius: 10px;
  padding: 12px 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #131313;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 56px;
  border: none;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  cursor: pointer;
  background-color: #F8D24E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .form-btn {
    max-width: 96%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.buttons-buy {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  background-color: #F8D24E;
  border-radius: 10px;
  border: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 152px;
}
.buttons-buy__svg {
  fill: #000000;
  width: 12px;
  height: 12px;
}

.buttons__container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.container {
  max-width: 480px;
  border: 1px solid red;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: unset;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: unset;
    width: 1200px;
    padding-left: 17px;
    padding-right: 17px;
  }
}

.header__container {
  padding-top: 12px;
  position: relative;
  background-color: #84A178;
  background-image: url(../images/header/points_mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
    background-image: url(../images/header/dots_tablet.svg);
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 18px;
    background-image: url(../images/header/dots_desktop.svg);
  }
}
.header__logo-image {
  width: 40;
  height: 37;
}
@media screen and (min-width: 768px) {
  .header__logo-image {
    width: 48;
    height: 44;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo-image {
    width: 60;
    height: 65;
  }
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: -10px;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__button {
    margin-left: 445px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: none;
  }
}
.header__button-svg {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__nav {
    align-items: center;
  }
}
.header__title {
  margin: 0;
  padding: 0;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.38;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 55px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__title {
    margin-top: -90px;
    font-size: 18px;
    line-height: 1.27;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    margin-top: -165px;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
  }
}
.header .title-container {
  max-width: 247px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .title-container {
    max-width: 181px;
  }
}
@media screen and (min-width: 1200px) {
  .header .title-container {
    max-width: 367px;
  }
}
.header__title-span {
  font-size: 31px;
  line-height: 22px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__title-span {
    font-size: 24px;
    line-height: 13.3px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title-span {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
  }
}
.header__ice-img {
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  pointer-events: none;
  bottom: -57px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes move {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes move {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@media screen and (min-width: 768px) {
  .header__ice-img {
    position: absolute;
    right: 39%;
    bottom: -59px;
  }
}
@media screen and (min-width: 1200px) {
  .header__ice-img {
    position: absolute;
    right: 37%;
    bottom: -100px;
  }
}
@media screen and (min-width: 768px) {
  .header__manyice-container {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    overflow: hidden;
    background-color: transparent;
    bottom: 13px;
    background-image: url(../images/header/many_ice.png);
    background-position: center;
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__manyice-container {
    background-image: url(../images/header/many_ice@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .header__manyice-container {
    width: 225px;
    height: 225px;
    bottom: 65px;
    background-image: url(../images/header/many_ice_desktop.png);
    background-position: center;
    background-size: 100%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header__manyice-container {
    background-image: url(../images/header/many_ice_desktop@2x.png);
  }
}
.header__mainflex {
  display: unset;
}
@media screen and (min-width: 768px) {
  .header__mainflex {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 543px;
    height: 20px;
    margin-left: 269px;
    margin-top: 22px;
  }
  .menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FCFCFC;
    transition: color 250ms linear;
  }
  .menu__link:hover, .menu__link:focus {
    color: #F8D24E;
  }
}

.sidebar {
  display: none;
}
@media screen and (min-width: 768px) {
  .sidebar {
    padding-left: 32px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .sidebar {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__buy-button {
    font-family: "Montserrat", sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 34px;
    padding-right: 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    background-color: #F8D24E;
    border-radius: 10px;
    border: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 152px;
    transition: color 250ms linear, background-color 250ms linear;
  }
  .sidebar__buy-button:hover {
    background-color: #0A8817;
  }
  .sidebar__buy-button:focus, .sidebar__buy-button:focus > .sidebar__buy-button-svg {
    background-color: #0A8817;
    color: #FCFCFC;
    stroke: #FCFCFC;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__buy-button-svg {
    stroke: #000000;
    width: 12px;
    height: 12px;
    transition: stroke 250ms linear;
  }
  .sidebar__buy-button-svg:focus {
    stroke: #FCFCFC;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 28px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .sidebar__items {
    padding-top: 56px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__item {
    margin: 0;
    padding: 0;
  }
  .sidebar__item:nth-child(2) {
    margin-bottom: 20px;
  }
  .sidebar__item:nth-child(1) {
    margin-bottom: 4px;
  }
  .sidebar__item:nth-child(3) {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__number {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .sidebar__number {
    font-size: 46px;
    line-height: 1.22;
  }
}
@media screen and (min-width: 768px) {
  .sidebar__text {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .sidebar__text {
    font-size: 14px;
    line-height: 1.21;
  }
}

.heder-links {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 239px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .heder-links {
    margin-top: 20px;
    margin-bottom: 193px;
  }
}
@media screen and (min-width: 1200px) {
  .heder-links {
    margin-top: 28px;
    margin-bottom: 332px;
  }
}
.heder-links__item {
  margin: 0;
  padding: 0;
}
.heder-links__item:nth-child(1) {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .heder-links__item:nth-child(1) {
    margin-right: 12px;
  }
}
.heder-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F8D24E;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  text-decoration: underline;
  pointer-events: all;
  cursor: pointer;
  width: 83px;
  height: 24px;
  transition: color 250ms linear;
}
.heder-links__link:hover {
  color: #0A8817;
}
.heder-links__link:focus {
  color: #FCFCFC;
}
@media screen and (min-width: 1200px) {
  .heder-links__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    width: 154px;
    height: 40px;
  }
  .heder-links__link:hover {
    color: #0A8817;
  }
  .heder-links__link:focus {
    color: #FCFCFC;
  }
}
.heder-links__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  background-color: transparent;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #F8D24E;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 24px;
  transition: color 250ms linear, border-color 250ms linear;
}
.heder-links__button:hover {
  border-color: #0A8817;
}
.heder-links__button:focus {
  border-color: #0A8817;
  color: #FCFCFC;
}
@media screen and (min-width: 1200px) {
  .heder-links__button {
    width: 134px;
    height: 42px;
    font-size: 14px;
    line-height: 1.29;
  }
  .heder-links__button:hover {
    border-color: #0A8817;
  }
  .heder-links__button:focus {
    border-color: #0A8817;
    color: #FCFCFC;
  }
}

.header-image {
  position: relative;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
}

.lorem {
  display: none;
}
@media screen and (min-width: 768px) {
  .lorem {
    display: flex;
    position: absolute;
    bottom: 22px;
    left: 217px;
    flex-direction: column;
    align-items: flex-start;
  }
  .lorem__container {
    display: block;
    width: 151px;
    height: 85px;
  }
  .lorem__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .lorem__errow {
    margin-top: 14px;
    width: 41px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem {
    bottom: 105px;
    left: 256px;
  }
  .lorem__container {
    width: 200px;
    height: 80px;
  }
  .lorem__text {
    font-size: 14px;
  }
}

.mobile {
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #85A279;
  top: 0;
  left: 0;
  transform: translateX(100%);
  margin: 0;
  transition: transform 250ms linear, visibility 250ms linear;
}
.mobile__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 20px;
}
.mobile__button-svg {
  fill: #FFFFFF;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}
.mobile.mobile--open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}
@media screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
}
.mobile__buy-button {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  background-color: #F8D24E;
  border-radius: 10px;
  border: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 152px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms linear, background-color 250ms linear;
}
.mobile__buy-button:hover {
  background-color: #0A8817;
}
.mobile__buy-button:focus, .mobile__buy-button:focus > .mobile__buy-button-svg {
  background-color: #0A8817;
  color: #FCFCFC;
  stroke: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .mobile__buy-button {
    display: none;
  }
}
.mobile__buy-button-svg {
  stroke: #000000;
  width: 12px;
  height: 12px;
  transition: stroke 250ms linear;
}
.mobile__buy-button-svg:focus {
  stroke: #FCFCFC;
}
.mobile__logo {
  display: block;
  width: 40px;
  height: 37px;
  margin-left: 31px;
  margin-top: 12px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    margin-top: 73px;
  }
}
.mobile-menu__item {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  color: #FCFCFC;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #000000;
}

.products__container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/products/products-background-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__container {
    background-image: url(../images/products/products-background-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .products__container {
    background-image: url(../images/products/products-background-tablet.jpg);
    padding-bottom: 82px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__container {
    background-image: url(../images/products/products-background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    background-image: url(../images/products/products-background-desktop.jpg);
    padding-bottom: 66px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__container {
    background-image: url(../images/products/products-background-desktop@2x.jpg);
  }
}

.products__label {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__label {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.products__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    margin-right: -16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    margin-right: -32px;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 420px;
  padding: 123px 40px 20px 40px;
  justify-content: center;
  margin-bottom: 148px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .products__item {
    padding: 108px 26px 20px 26px;
    margin-bottom: 0;
    margin-right: 16px;
    height: 428px;
    flex-basis: calc((100% - 32px) / 3);
    border-radius: 15.78px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    padding: 166px 64px 60px 64px;
    margin-right: 32px;
    height: 535px;
    flex-basis: calc((100% - 64px) / 3);
    border-radius: 24px;
  }
}

.item-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--contacts-text-color);
  margin-top: 0;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .item-title {
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .item-title {
    font-size: 30px;
  }
}

.item-description {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--contacts-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .item-description {
    font-size: 16px;
  }
}

.products__item--icecream {
  background-color: var(--product-cart-cream);
}

.products__item--icecoffee {
  background-color: var(--product-cart-coffee);
}

.products__item--milkshakes {
  background-color: var(--address-text-color);
  margin-bottom: 0;
}

.products__item--icecream::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 201px;
  height: 211px;
  border-radius: 50%;
  background-image: url(../images/products/ice-cream-mobile-tablet.png.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  background-size: 200px;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--icecream::before {
    background-image: url(../images/products/ice-cream-mobile-tablet.png@2x.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }
}
@media screen and (min-width: 768px) {
  .products__item--icecream::before {
    width: 200px;
    height: 208px;
    transform: translate(-50%, -160%);
  }
}
@media screen and (min-width: 1200px) {
  .products__item--icecream::before {
    width: 302px;
    height: 317px;
    background-image: url(../images/products/ice-cream-desktop.png.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
    background-size: 302px;
    transform: translate(-50%, -142%);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--icecream::before {
    background-image: url(../images/products/ice-cream-desktop.png@2x.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  }
}

.products__item--icecoffee::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 201px;
  height: 211px;
  border-radius: 50%;
  background-image: url(../images/products/ice-coffee-mobile-tablet.png.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  background-size: 200px;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--icecoffee::before {
    background-image: url(../images/products/ice-coffee-mobile-tablet.png@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}
@media screen and (min-width: 768px) {
  .products__item--icecoffee::before {
    width: 200px;
    height: 208px;
    transform: translate(-50%, -160%);
  }
}
@media screen and (min-width: 1200px) {
  .products__item--icecoffee::before {
    width: 302px;
    height: 317px;
    background-image: url(../images/products/ice-coffee-desktop.png.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    background-size: 302px;
    transform: translate(-50%, -142%);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--icecoffee::before {
    background-image: url(../images/products/ice-coffee-desktop.png@2x.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  }
}

.products__item--milkshakes::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 201px;
  height: 211px;
  border-radius: 50%;
  background-image: url(../images/products/milkshakes-mobile-tablet.png.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  background-size: 200px;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%);
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url(../images/products/milkshakes-mobile-tablet.png@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }
}
@media screen and (min-width: 768px) {
  .products__item--milkshakes::before {
    width: 200px;
    height: 208px;
    transform: translate(-50%, -160%);
  }
}
@media screen and (min-width: 1200px) {
  .products__item--milkshakes::before {
    width: 302px;
    height: 317px;
    background-image: url(../images/products/milkshakes-desktop.png.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    background-size: 302px;
    transform: translate(-50%, -142%);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url(../images/products/milkshakes-desktop.png@2x.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
  }
}

.btn--arrow {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 0;
  width: 41px;
  height: 15px;
}

.btn--bg-green {
  background-color: var(--product-cart-cream);
  background-image: url(../images/products/arrow-default.png);
  transition: height 250ms linear, width 250ms linear, background-image 250ms linear;
}
.btn--bg-green:hover {
  background-image: url(../images/products/arrow-hover.png);
  width: 51px;
}
.btn--bg-green:focus {
  background-image: url(../images/products/arrow-focus.png);
  width: 51px;
  height: 22px;
}

.btn--bg-yellow {
  background-color: var(--product-cart-coffee);
  background-image: url(../images/products/arrow-default.png);
  transition: height 250ms linear, width 250ms linear, background-image 250ms linear;
}
.btn--bg-yellow:hover {
  background-image: url(../images/products/arrow-hover.png);
  width: 51px;
}
.btn--bg-yellow:focus {
  background-image: url(../images/products/arrow-focus.png);
  width: 51px;
  height: 22px;
}

.btn--bg-brown {
  background-color: var(--address-text-color);
  background-image: url(../images/products/arrow-default.png);
  transition: height 250ms linear, width 250ms linear, background-image 250ms linear;
}
.btn--bg-brown:hover {
  background-image: url(../images/products/arrow-hover.png);
  width: 51px;
}
.btn--bg-brown:focus {
  background-image: url(../images/products/arrow-focus.png);
  width: 51px;
  height: 22px;
}

button {
  cursor: pointer;
}

.about__container {
  background-color: #84A178;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding-bottom: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    padding-bottom: 100px;
  }
}

.about__lable {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about__title {
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about__frame {
  position: relative;
  display: flex;
  width: 278px;
  height: 278px;
  background-color: rgba(248, 210, 78, 0.7);
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .about__frame {
    margin-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__img {
  position: absolute;
  top: 22px;
  display: block;
  max-width: 100%;
  height: auto;
}

.about__description-list {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__description-list {
    margin-bottom: 48px;
  }
}

.about__description {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .about__lable {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .about__title {
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
  .about__container-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__frame {
    width: 330px;
    height: 330px;
    margin-right: 32px;
  }
  .about__img {
    top: 26px;
  }
  .about__description {
    margin: 0;
    width: 334px;
    line-height: 1.77;
    letter-spacing: 0.04em;
    text-align: left;
  }
  .about__description-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .about__container-description {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .about__lable {
    font-size: 30px;
  }
  .about__title {
    margin-bottom: 82px;
    font-size: 36px;
    line-height: 1.25;
  }
  .about__frame {
    margin-right: 108px;
    width: 490px;
    height: 490px;
  }
  .about__img {
    top: 39px;
  }
  .about__description {
    width: 463px;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
  }
}
.about__read-button {
  font-family: "Montserrat", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  background-color: var(--button-color);
  border-radius: 10px;
  border: none;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 164px;
  transition: color 250ms linear, background-color 250ms linear;
}
.about__read-button:hover {
  background-color: var(--accent-color);
}
.about__read-button:focus, .about__read-button:focus > .about__read-button-svg {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  stroke: var(--primary-text-color);
}
.about__read-button-svg {
  stroke: var(--secondary-text-color);
  width: 12px;
  height: 12px;
  transition: stroke 250ms linear;
}
.about__read-button-svg:focus {
  stroke: var(--primary-text-color);
}

.about__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__backdrop.modal--open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  width: 280px;
  height: 459px;
  background-color: #ffffff;
  border: 2px solid var(--button-color);
  border-radius: 10px;
}

.about__modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.about__modal-close-button-icon {
  fill: var(--secondary-text-color);
}

.about__modal-title {
  margin-bottom: 20px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
}

.about__modal-text {
  font-size: 14px;
  line-height: 1.4;
  color: var(--secondary-text-color);
}

.about__video {
  margin-bottom: 20px;
  width: 224px;
  height: 199px;
}

@media screen and (min-width: 1200px) {
  .about__modal {
    padding: 32px;
    width: 568px;
    height: 449px;
  }
  .about__modal-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }
  .about__modal-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.4;
    color: var(--secondary-text-color);
  }
  .about__video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 448px;
    height: 205px;
  }
}
.list {
  list-style: none;
}

h2, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advantages__container {
  background-color: var(--primary-background-color);
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .advantages__container {
    padding-bottom: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__container {
    padding-bottom: 180px;
  }
}

.advantages__text-cow::before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-image: url(../images/about/icon-cow.png);
}

.advantages__text-weight::before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-image: url(../images/about/icon-weight.png);
}

.advantages__text-icecream::before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-image: url(../images/about/icon-ice.png);
}

.advantages__text-cow {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages__text-weight {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages__text-icecream {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages__description {
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  margin-bottom: 28px;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  .advantages__text::before {
    margin-bottom: 32px;
  }
  .advantages__text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .advantages__description {
    width: 152px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text::before {
    margin-bottom: 40px;
  }
  .advantages__text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.22;
  }
  .advantages__description {
    margin-bottom: 28px;
    width: 300px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
.gallery__container {
  position: relative;
  background-image: url(../images/gallery/background/background-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .gallery__container {
    background-image: url(../images/gallery/background/background-mob@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .gallery__container {
    background-image: url(../images/gallery/background/background-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .gallery__container {
    background-image: url(../images/gallery/background/background-tab@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__container {
    background-image: url(../images/gallery/background/background-des.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .gallery__container {
    background-image: url(../images/gallery/background/background-des@2x.png);
  }
}

.gallery__ice {
  position: absolute;
  top: -24px;
  left: 50%;
  display: block;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .gallery__ice {
    top: -164px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__ice {
    top: -94px;
  }
}

.gallery__woman {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 186px;
}
@media screen and (min-width: 768px) {
  .gallery__woman {
    margin-top: 218px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__woman {
    margin-top: 452px;
  }
}

.gallery__woman-indent {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.gallery__comments {
  max-width: 100%;
  padding: 34px 39px;
  border-radius: 10px;
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 768px) {
  .gallery__comments {
    padding: 29px 80px 28px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__comments {
    padding: 39px 109px 47px;
  }
}

.gallery__comments-indent {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .gallery__comments-indent {
    margin-bottom: 32px;
  }
}

.gallery__text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 255%;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .gallery__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__text {
    font-size: 16px;
  }
}

.gallery__text-name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  .gallery__text-name {
    font-size: 16px;
  }
}

.gallery__text-indent {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .gallery__text-indent {
    margin-bottom: 32px;
  }
}

.gallery__cicles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__cicles-indent {
  margin-bottom: 393px;
}
@media screen and (min-width: 768px) {
  .gallery__cicles-indent {
    margin-bottom: 384px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__cicles-indent {
    margin-bottom: 196px;
  }
}

.gallery__cicles--green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-background-color);
}

.gallery__cicles--grey {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #D9D9D9;
}

.cicles-indent:not(:last-child) {
  margin-right: 18px;
}

/*-----COMPONENTS------*/
.ice-bg {
  background-color: #84A178;
}

.locations-button {
  padding-top: 14px;
  padding-right: 34px;
  padding-bottom: 14px;
  padding-left: 34px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  border: #F8D24E;
  border-radius: 10px;
  background-color: #F8D24E;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.locations-button:hover {
  background-color: #0A8817;
  border-color: #0A8817;
}
.locations-button:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

.franchise-button {
  padding-top: 12px;
  padding-right: 46px;
  padding-bottom: 12px;
  padding-left: 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  color: #131313;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  background-color: #84A178;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.franchise-button:hover {
  border-color: #0A8817;
}
.franchise-button:focus {
  color: #FCFCFC;
}

.button-icon {
  margin-left: 6px;
}
.locations-button:focus .button-icon, .franchise-button:focus .button-icon {
  fill: #FCFCFC;
}

/*--Візуально приховує, але доступне для браузерів, скрінрідерів і пошук.сист.--*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*--Задаємо ширину контенту--*/
.ice-container {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media screen and (min-width: 480px) {
  .ice-container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .ice-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .ice-container {
    width: 1200px;
  }
}
/*--Задаємо падінги для всіх секцій--*/
.ice-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*-----CONTACTS------*/
.contacts {
  position: relative;
  margin-top: 0;
}

.contacts__block-container {
  height: content;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__block-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translate(0, -345px);
}

.contacts__block-item {
  display: flex;
  max-width: 356px;
}

.contacts__block-title-cafe {
  width: 80px;
  height: 16px;
  background-color: #F8D24E;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts__block-title-truck {
  width: 130px;
  height: 16px;
  background-color: #F8D24E;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts__list-address {
  display: flex;
  flex-direction: column;
}

.contacts__item-address {
  margin-bottom: 8px;
}

.contacts__list-time {
  display: flex;
  flex-direction: column;
}

.contacts__item-time {
  margin-bottom: 12px;
}

.contacts__list::after {
  content: "";
  max-width: 288px;
  height: 0px;
  border: 1px solid #E1E1E1;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
}

.contacts__text-address {
  color: #D6936D;
  transition: -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__text-address:hover, .contacts__text-address:focus {
  text-decoration: underline;
}

.contacts__text-time {
  color: #ABABAB;
}

.contacts__list-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: -310px;
  padding-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .contacts__block-list {
    transform: translate(0, -300px);
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .contacts__list-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: -235px;
    padding-bottom: 40px;
  }
  .contacts__block-item {
    max-width: calc((100% - 32px) / 3);
  }
  .contacts__block-container {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .contacts__text {
    font-size: 14px;
  }
  .contacts__item-time {
    margin-bottom: 12px;
  }
  .contacts__list::after {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .contacts__block-title-cafe {
    width: 73px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 32px;
  }
  .contacts__block-title-truck {
    width: 138px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__block-list {
    transform: translate(0, -100px);
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .contacts__list-button {
    margin-top: -35px;
    padding-bottom: 120px;
  }
  .contacts__block-item {
    max-width: calc((100% - 64px) / 3);
  }
  .contacts__block-container {
    padding: 40px;
  }
  .contacts__text {
    font-size: 16px;
  }
}
/*-----FOOTER------*/
.footer__text-small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  max-width: 250px;
  margin-bottom: 14px;
}

.footer__text-big {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.22;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FCFCFC;
  max-width: 250px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}

.footer__text-copywrite {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 62px;
  max-width: 100%;
  border-top: 1px solid #E1E1E1;
}

.footer__list-social {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 30px;
  margin-top: 42px;
  margin-bottom: 38px;
}

.footer__link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #F8D24E;
}

.social__icon {
  fill: #84A178;
}

.footer__icon-social {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-social:hover .footer__icon-social, .footer__link-social:focus .footer__icon-social {
  fill: #FCFCFC;
}

.footer__block-tel {
  display: flex;
  justify-content: right;
}

.footer__link-tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer__link-tel-span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #131313;
  cursor: text;
}

@media screen and (min-width: 768px) {
  .footer__text-small {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 9px;
    max-width: 352px;
  }
  .footer__text-big {
    font-size: 48px;
    max-width: 340px;
  }
  .footer__link-tel {
    font-size: 14px;
  }
  .footer__link-tel-span {
    font-size: 14px;
  }
  .footer__list-social {
    margin-top: 68px;
    margin-bottom: 32px;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  .footer__link-tel {
    font-size: 16px;
  }
  .footer__link-tel-span {
    font-size: 16px;
  }
  .footer__text-copywrite {
    font-size: 12px;
    line-height: 1.86;
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 11px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-small {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 14px;
    max-width: 600px;
  }
  .footer__text-big {
    font-size: 58px;
    max-width: 600px;
  }
  .footer__link-tel {
    font-size: 16px;
  }
  .footer__link-tel-span {
    font-size: 16px;
  }
  .footer__list-social {
    margin-top: 12px;
    margin-bottom: 40px;
  }
  .footer__list {
    margin-bottom: 54px;
  }
}/*# sourceMappingURL=index.css.map */