<!--в папку buttons добавлен скипт для открытия модального окна-->

<div class="backdrop is-hidden" data-modal>
    <div class="buynow">
        <button class="close-btn" type="button" data-modal-close>
            <svg class="icon-close" width="16" height="16">
                <use href="../images/buynow/symbol-defs (2).svg#icon-Vector"></use>
            </svg>
        </button>
        
        <p class="buynow__title">Buy now</p>
       
        <ul class="buynow__list">
            <li class="buynow__item  modal__item--icecream"></li>
                <h3 class="buynow__text">ice cream</h3></li>
            <li class="buynow__item  modal__item--icecoffee">
                <h3 class="buynow__text">ice coffee</h3></li>
            <li class="buynow__item  modal__item--milkshakes">
                <h3 class="buynow__text">milkshakes</h3></li>
        </ul>
   
        <form action="#" class="form">
            <div class="form-field">
            <input class="form-input" type="text" name="name" id="name">
            <label class="form-label" for="name">Name</label>
            </div>

            <div class="form-field">
            <input class="form-input" type="tel" name="tel" id="tel">
            <label class="form-label" for="tel">Phone</label>
            </div>

            <div class="form-field">
            <label class="form-label" for="comment"></label>
            <textarea class="comment" name="comment" id="comment" rows="3" placeholder="Comment"></textarea>
            </div>
       
            <button class="form-btn" type="submit">Submit</button>
        </form>
    </div>
</div>
        
    

<script src="./js/modal.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
crossorigin="anonymous"></script>
<script defer src="js/mobile-menu.js"></script>
</body>
</html>