<footer>
    <div>
        <ul>
            <li>
                <div>
                <ul>
                    <li>
                        <p>homemade ice cream made</p>
                    </li>
                    <li>
                        <p>with passion</p>
                    </li>
                </ul>
                </div>
            </li>
            <li>
                <div>
                    <ul>
                        <li>
                            <a href="">GIT-icon</a>
                        </li>
                        <li>
                            <a href="">Tel-icon</a>
                        </li>
                        <li>
                            <a href="">FB-icon</a>
                        </li>
                    </ul>
                    <a href=""><span>Feel free to contact</span>+61 (0) 383 766 284</a>
                </div>
            </li>
        </ul>
    </div>
    <p>© 2022 - IceCream. All Rights Reserved.</p>
</footer>