<!-- Section Gallery -->
<section class="section gallery">
  <div class="container gallery__container">
    <h2 class="gallery-title hidden">Gallery</h2>

    <!-- Image ice -->
    <!-- <picture>
      <source media="(min-width: px)" srcset="../images/gallery/ 1x, ../images/gallery/ 2x" type="image/jpg" />
      <img class="gallery__ice" src="../images/gallery/" alt="ice" width="370" height="294" />
    </picture> -->
    <!-- Image woman -->
    <!-- <picture>
      <source media="(min-width: px)" srcset="../images/gallery/ 1x, ../images/gallery/ 2x" type="image/jpg" />
      <img class="gallery__woman" src="../images/gallery/" alt="woman" width="370" height="294" />
    </picture> -->
    <!-- Block comments -->

    <div class="gallery__comments">
      <p class="gallery__text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
        addition, you have beautiful
        serving, cozy atmosphere and polite staff.
      </p>
    </div>
    <!-- Text -->
    <p class="gallery__text-name">Emily, Los Angeles</p>
    <!-- Cicles -->
    <div class="gallery__cicles">
      <div class="gallery__cicles--green"></div>
      <div class="gallery__cicles--grey"></div>
      <div class="gallery__cicles--grey"></div>
    </div>
  </div>
</section>