<header class="header">
<div class="container header__container">
    <nav class="header__nav">
        <a class="header__logo"><img src="./images/header/site-logo.svg" class="header__logo-image"/></a>
        <!-- <ul class="">
            <li class=""><a href="#" class=""></a></li>
            <li class=""><a href="#" class=""></a></li>
            <li class=""><a href="#" class=""></a></li>
        </ul> -->
        <button type="button" class="header__button">
            <img src="./images/header/burger.svg" class="header__button-svg"/>
        </button>
    </nav>
    <div class="title-container"> 
    <h1 class="header__title">ice cream made with <span class="header__title-span">passion</span></h1>
    </div>
    <ul class="heder-links">
        <li class="heder-links__item"><button>Products</button></li>
        <li class="heder-links__item"><a class="heder-links__link">How it’s made?</a></li>
    </ul>
        <!-- <img
           srcset="./images/header/ice.png 500w, ./images/header/ice_tablet.png 300w, ./images/header/ice.png 1200w"
           sizes="(min-width: 900px) 600px, (min-width: 480px) 300px,  100vw"
           src="./images/header/ice.png"
           alt="мороженко"
        /> -->
        <!-- <img src="./images/header/ice.png" class="header__ice-img"/> -->
        <picture  class="header__ice-img">
            <source srcset="./images/header/ice.png" media="(max-width: 768px)" />
            <source srcset="./images/header/ice_tablet.png" media="(max-width: 1199px)" />
            <source srcset="./images/header/ice_desktop.png" media="(min-width: 1200px)" />
            <img src="./images/header/ice.png" alt="Мороженко" />
        </picture> 
</div>
</header>