<header class="header">
<div class="container">
    <nav class="header__nav">
        <a class="header__logo"><img src="./images/header/site-logo.svg" class="header__logo-image"/></a>
        <!-- <ul class="">
            <li class=""><a href="#" class=""></a></li>
            <li class=""><a href="#" class=""></a></li>
            <li class=""><a href="#" class=""></a></li>
        </ul> -->
        <button type="button" class="header__button">
            <svg width="22" height="12">
                <use class="header__button-svg" href="./images/header/burger.svg"></use>
           </svg>
        </button>
    </nav> 
    <h1 class="header__title">ice cream made with <span class="header__title-span">passion</span></h1>
</div>
</header>